<!DOCTYPE html>
<html>
    <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Update Planeswalkers</title>
            <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <form method="POST" action="{{ url_for('update_planeswalkers') }}">
            <div class="nav-bar">
                <a href="{{ url_for('export_csv') }}" class="export-btn">Export as CSV</a>
                <a href="{{ url_for('export_sql') }}" class="export-btn">Export as SQL</a>
                <a href="{{ url_for('catalog') }}" class="export-btn">Back to Planeswalkers</a>
                <button class="export-btn" type="submit">Submit All Changes</button>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Card Name</th>
                        <th>Set</th>
                        <th>Collector Number</th>
                        <th>Collected</th>
                    </tr>
                </thead>
                <tbody>
                    {% for planeswalker in planeswalkers %}
                        <tr>
                            <td>
                                <input type="hidden" name="planeswalkers[{{ loop.index0 }}][name]" value="{{ planeswalker[0] }}">
                                {{ planeswalker[0] }}
                            </td>
                            <td>
                                <input type="text" name="planeswalkers[{{ loop.index0 }}][collected_set]" value="{{ planeswalker[3] or planeswalker[2] }}">
                            </td>
                            <td>
                                <input type="text" name="planeswalkers[{{ loop.index0 }}][collector_number]" value="{{ planeswalker[4] }}">
                            </td>
                            <td>
                                <select name="planeswalkers[{{ loop.index0 }}][collected]">
                                    <option value="true" {% if planeswalker[1] %}selected{% endif %}>Yes</option>
                                    <option value="false" {% if not planeswalker[1] %}selected{% endif %}>No</option>
                                </select>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
 
      
        
        <a href="{{ url_for('catalog') }}">Back to Catalog</a>
    </form>
    </body>
</html>
